@import "./alert.scss";
@import "./badge.scss";
@import "./border.scss";
@import "./button.scss";
@import "./calendar.scss";
@import "./card.scss";
@import "./carousel.scss";
@import "./cascader.scss";
@import "./collapse.scss";
@import "./color-picker.scss";
@import "./color.scss";
@import "./container.scss";
@import "./date-picker.scss";
@import "./datetime-picker.scss";
@import "./dialog.scss";
@import "./dropdown.scss";
@import "./form.scss";
@import "./i18n.scss";
@import "./icon.scss";
@import "./input-number.scss";
@import "./input.scss";
@import "./layout.scss";
@import "./loading.scss";
@import "./menu.scss";
@import "./pagination.scss";
@import "./popover.scss";
@import "./progress.scss";
@import "./rate.scss";
@import "./select.scss";
@import "./slider.scss";
@import "./switch.scss";
@import "./table.scss";
@import "./tag.scss";
@import "./time-picker.scss";
@import "./timeline.scss";
@import "./tooltip.scss";
@import "./transition.scss";
@import "./transfer.scss";
@import "./tree.scss";
@import "./typography.scss";
@import "./upload.scss";
@import "./divider.scss";
@import "./image.scss";
@import "./infinite-scroll.scss";
@import "./avatar.scss";
@import "./drawer.scss";

.element-doc h2 a, .element-doc h3 a, .element-doc h4 a, .element-doc h5 a {
  float: left;
  margin-left: -20px;
  opacity: 0;
  cursor: pointer;
  color: #409eff;
  text-decoration: none;
  font-weight: 400;
}

.element-doc h2 {
  font-size: 28px;
  color: #1f2d3d;
  margin: 0;
}

.element-doc h3 {
  font-size: 22px;
  color: #1f2d3d;
  margin: 0;
}

.element-doc h2 a:hover, .element-doc h3 a:hover, .element-doc h4 a:hover, .element-doc h5 a:hover{
  opacity: 0.4;
}



