#agree-admin-element {
  height: 100%;

  .agree-layout {
    @include clearfix;
    position: relative;
    height: 100%;
    width: 100%;

    .drawer-bg {
      background: #000;
      opacity: 0.3;
      width: 100%;
      top: 0;
      height: 100%;
      position: absolute;
      z-index: 999;
    }

    .sidebar-container {
      .el-menu--collapse .el-menu .el-submenu {
        min-width: $sidebar-width !important;
      }
    }

    .agree-layout-container {
      min-height: 100%;
      transition: margin-left .28s;
      margin-left: 0;
      position: relative;
      background-color: $layout-container-bg;

      &.hasTagsView {
        .agree-layout-main {
          /* navbar + tags-view */
          min-height: calc(100vh - #{$navbar-height} - #{$tags-view-height});
        }

        .agree-layout-header {
          &.fixed-header {
            & + .agree-layout-main {
              /* navbar + tags-view */
              padding-top: calc(#{$navbar-height} + #{$tags-view-height});;
            }
          }
        }
      }

      .agree-layout-header {
        width: 100%;

        &.fixed-header {
          position: fixed;
          top: 0;
          right: 0;
          z-index: 9;
          transition: width 0.28s;

          & + .agree-layout-main {
            padding-top: $navbar-height;
          }
        }
      }

      .agree-layout-main {
        min-height: calc(100vh - #{$navbar-height});
        width: 100%;
        position: relative;
        overflow: hidden;

        .agree-layout-main-container {
          min-height: calc(100vh - #{$navbar-height} - #{$tags-view-height} - #{$layout-main-container-margin} * 2);
          box-sizing: border-box;
          padding: 20px;
          margin: $layout-main-container-margin;
          background-color: $layout-main-container-bg;
        }

        &.hasNewsView {
          .agree-layout-main-container {
            min-height: calc(100vh - #{$navbar-height} - #{$tags-view-height} - #{$news-view-height} - #{$layout-main-container-margin});
          }
        }
      }
    }

    // 竖向布局
    &.agree-layout-vertical {
      .sidebar-container {
        transition: width 0.28s;
        width: $sidebar-width;
        background-color: $menu-bg-color;
        height: 100%;
        position: fixed;
        font-size: 0;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1001;
        overflow: hidden;
        box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);

        // reset element-ui css
        .horizontal-collapse-transition {
          transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
        }

        .scrollbar-wrapper {
          overflow-x: hidden !important;
        }

        .el-scrollbar__bar.is-vertical {
          right: 0;
        }

        .el-scrollbar {
          height: 100%;
        }

        &.has-logo {
          .el-scrollbar {
            height: calc(100% - #{$navbar-height});
          }
        }

        .is-horizontal {
          display: none;
        }

        a {
          display: inline-block;
          width: 100%;
          overflow: hidden;
        }

        .svg-icon {
          margin-right: 16px;
        }

        .sub-el-icon {
          margin-right: 12px;
          margin-left: -2px;
        }

        .el-menu {
          border: none;
          height: 100%;
          width: 100% !important;

          // zwp
          .el-menu-item {
            .sub-el-tag {
              margin-top: calc((56px - 16px) / 2);
            }
          }

          .nest-menu {
            .el-menu-item {
              .sub-el-tag {
                margin-top: calc((50px - 16px) / 2);
              }
            }
          }
        }

        // menu hover
        .submenu-title-noDropdown,
        .el-submenu__title {
          &:hover {
            background-color: $menu-color-hover !important;
          }
        }

        .is-active > .el-submenu__title {
          color: $submenu-color-active !important;
        }

        & .nest-menu .el-submenu > .el-submenu__title,
        & .el-submenu .el-menu-item {
          min-width: $sidebar-width !important;
          background-color: $submenu-bg-color !important;

          &:hover {
            background-color: $submenu-color-hover !important;
          }
        }
      }

      &.openSidebar {
        .agree-layout-container {
          margin-left: $sidebar-width;

          .agree-layout-header {
            &.fixed-header {
              width: calc(100% - #{$sidebar-width})
            }
          }
        }
      }

      &.hideSidebar {
        .sidebar-container {
          width: 54px;

          .submenu-title-noDropdown {
            padding: 0 !important;
            position: relative;

            .el-tooltip {
              padding: 0 !important;

              .svg-icon {
                margin-left: 20px;
              }

              .sub-el-icon {
                margin-left: 19px;
              }
            }
          }

          .el-submenu {
            overflow: hidden;

            & > .el-submenu__title {
              padding: 0 !important;

              .svg-icon {
                margin-left: 20px;
              }

              .sub-el-icon {
                margin-left: 19px;
              }

              .el-submenu__icon-arrow {
                display: none;
              }
            }
          }

          .el-menu--collapse {
            .el-submenu {
              & > .el-submenu__title {
                & > span {
                  height: 0;
                  width: 0;
                  overflow: hidden;
                  visibility: hidden;
                  display: inline-block;
                }
              }
            }
          }
        }

        .agree-layout-container {
          margin-left: 54px;

          .agree-layout-header {
            &.fixed-header {
              width: calc(100% - 54px);
            }
          }
        }
      }
    }

    // 横向布局
    &.agree-layout-horizontal {
      .agree-layout-header {
        .topbar-container {
          width: 100%;
          background-color: $menu-bg-color;
          @include clearfix;

          &.has-logo {
            .sidebar-logo-container {
              float: left;
              width: $logo-width;
              @media screen and (max-width: 760px) {
                display: none;
              }
            }

            .menu-container {
              width: calc(100% - #{$logo-width} - #{$right-menu-width});
              @media screen and (max-width: 760px) {
                width: calc(100% - #{$right-menu-width});
              }
            }
          }

          .menu-container {
            float: right;
            width: calc(100% - #{$right-menu-width});
            height: $navbar-height;

            .el-menu {
              display: flex;
              flex-wrap: nowrap;
              justify-content: flex-end;
              border-bottom: none;
              height: $navbar-height;
              line-height: $navbar-height;

              .el-menu-item {
                height: $navbar-height;
                line-height: $navbar-height;

                .sub-el-tag {
                  margin-left: 5px;
                  margin-top: calc((#{$navbar-height} - 16px) / 2);
                }

                &.is-active {
                  border-bottom-width: 4px;
                  border-bottom-style: solid;
                }
              }

              .el-submenu {
                .el-submenu__title {
                  height: $navbar-height;
                  line-height: $navbar-height;

                  .el-submenu__icon-arrow {
                    position: static;
                    vertical-align: middle;
                    margin-left: 8px;
                    margin-top: -3px;
                    color: $menu-color;
                  }
                }

                &.is-active {
                  .el-submenu__title {
                    border-bottom-width: 4px;
                    border-bottom-style: solid;
                  }
                }
              }
            }
          }

          .right-menu-container {
            float: right;
            width: $right-menu-width;
            text-align: right;

            .right-menu-item {
              .svg-icon {
                color: $menu-color;
              }
            }
          }
        }
      }

      .agree-layout-main {
        width: 88%;
        margin: 0 auto;
      }
    }

    // 手机端自适应
    &.mobile {

      .sidebar-container {
        transition: transform .28s;
        width: $sidebar-width !important;
      }

      .agree-layout-container {
        margin-left: 0 !important;

        .agree-layout-header {
          width: 100% !important;
        }
      }

      &.hideSidebar {
        .sidebar-container {
          pointer-events: none;
          transition-duration: 0.3s;
          transform: translate3d(-$sidebar-width, 0, 0);
        }
      }

      &.openSidebar {
        position: fixed;
        top: 0;
      }
    }

    &.withoutAnimation {
      .agree-layout-container,
      .sidebar-container {
        transition: none;
      }
    }
  }
}

// when menu collapsed
.el-menu--vertical {
  & > .el-menu {
    .svg-icon {
      margin-right: 16px;
    }

    .sub-el-icon {
      margin-right: 12px;
      margin-left: -2px;
    }

    // zwp
    .sub-el-tag {
      margin-top: calc((56px - 16px) / 2);
    }
  }

  .nest-menu .el-submenu > .el-submenu__title,
  .el-menu-item {
    &:hover {
      // you can use $submenu-color-hover
      background-color: $menu-color-hover !important;
    }
  }

  // the scroll bar appears when the subMenu is too long
  > .el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }
}

// when menu horizontal
.el-menu--horizontal {
  & > .el-menu {
    .el-menu-item {
      .sub-el-tag {
        margin-top: calc((36px - 16px) / 2);
      }
    }
  }
}

// fix css style bug in open el-dialog
.el-popup-parent--hidden {
  .fixed-header {
    padding-right: 15px;
  }
}

// fix css style bug in tooltip
.el-tooltip__popper {
  .sub-el-tag {
    margin-left: 6px;
  }
}
